{
  "name": "SampleComponent",
  "import": [
    {
      "name": "IonCard",
      "from": "@ionic/react",
      "type": "package",
      "props": []
    },
    {
      "name": "IonCardHeader",
      "from": "@ionic/react",
      "type": "package",
      "props": []
    },
    {
      "name": "IonCardSubtitle",
      "from": "@ionic/react",
      "type": "package",
      "props": []
    },
    {
      "name": "IonCardTitle",
      "from": "@ionic/react",
      "type": "package",
      "props": []
    },
    {
      "name": "IonCardContent",
      "from": "@ionic/react",
      "type": "package",
      "props": []
    },
    {
      "name": "IonImg",
      "from": "@ionic/react",
      "type": "package",
      "props": []
    },
    {
      "name": "* as fetch",
      "from": "../components/fetch",
      "type": "default",
      "props": []
    }
  ],
  "lifeCycleMethods": [
    {
      "methodName": "componentDidMount",
      "code": "this.fetchPage();this.fetchGet();this.fetchPost({'name': 'hoge'});"
    }
  ],
  "fetch": [
    {
      "method": "get",
      "name": "fetchPage",
      "apis": [
        {
          "uri": "https://sls-front-api.io/",
          "responseTypeName": "slsFrontApiPage",
          "responseTypeStrict": true,
          "responseType": {
            "title1": "string",
            "subTitle1": "string",
            "title2": "string",
            "subTitle2": "string"
          },
          "config": {
            "path": "samplePage1",
            "mock": {
              "title1": "Sample Card Title",
              "subTitle1": "Sample Card Subtitle",
              "title2": "Sample Card Title 2",
              "subTitle2": "Sample Card Subtitle 2"
            }
          }
        },
        {
          "uri": "https://api.github.com/search/users?q=edeng23",
          "responseTypeName": "github",
          "responseType": "incomplete_results: boolean,total_count: number,items: Array<{avatar_url: string,events_url: string,followers_url: string,url: string}>"
        }
      ]
    },
    {
      "method": "get",
      "name": "fetchGet",
      "apis": [
        {
          "uri": "https://sls-front-api.io/",
          "responseTypeName": "slsFrontApiHello",
          "responseTypeStrict": true,
          "responseType": {
            "res1": "string",
            "res2": "string"
          },
          "config": {
            "path": "hello",
            "mock": {
              "res1": "Hello my darling❤️",
              "res2": "How is going?"
            }
          }
        }
      ]
    },
    {
      "method": "post",
      "name": "fetchPost",
      "apis": [
        {
          "uri": "https://sls-front-api.io/",
          "args": [
            "postData: slsFrontApiEchoPost"
          ],
          "postTypeName": "slsFrontApiEchoPost",
          "postType": "name: string",
          "postBody": "postData",
          "responseTypeName": "slsFrontApiEcho",
          "responseType": "message: string",
          "config": {
            "path": "echo",
            "schema": {
              "properties": {
                "name": { "type": "string" }
              },
              "required": ["name"]
            }
          }
        }
      ]
    }
  ],
  "tags": [
    {
      "tag": "div",
      "child": {
        "tags": [
          {
            "tag": "IonCard",
            "props": [],
            "child": {
              "tags": [
                {
                  "tag": "IonCardHeader",
                  "props": [],
                  "child": {
                    "tags": [
                      {
                        "tag": "IonCardTitle",
                        "noCR": "yes",
                        "props": [],
                        "content": "{!(this.state.slsFrontApiPage.isLoading) ? this.state.slsFrontApiPage.data.title1:''}"
                      },
                      {
                        "tag": "IonCardSubtitle",
                        "noCR": "yes",
                        "props": [],
                        "content": "{!(this.state.slsFrontApiPage.isLoading) ? this.state.slsFrontApiPage.data.subTitle1:''}"
                      }
                    ]
                  }
                },
                {
                  "tag": "IonCardContent",
                  "props": [],
                  "content": "Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean."
                }
              ]
            }
          },
          {
            "tag": "IonCard",
            "props": [],
            "child": {
              "tags": [
                {
                  "tag": "IonCardHeader",
                  "props": [],
                  "child": {
                    "tags": [
                      {
                        "tag": "IonCardTitle",
                        "noCR": "yes",
                        "props": [],
                        "content": "{!(this.state.slsFrontApiPage.isLoading) ? this.state.slsFrontApiPage.data.title2:''}"
                      },
                      {
                        "tag": "IonCardSubtitle",
                        "noCR": "yes",
                        "props": [],
                        "content": "{!(this.state.slsFrontApiPage.isLoading) ? this.state.slsFrontApiPage.data.subTitle2:''}"
                      }
                    ]
                  }
                },
                {
                  "tag": "IonCardContent",
                  "props": [],
                  "content": "{!(this.state.github.isLoading) ? this.state.github.data.items[0].url:''}"
                },
                {
                  "tag": "IonImg",
                  "props": ["src={!(this.state.github.isLoading) ? this.state.github.data.items[0].avatar_url:''}"]
                }
              ]
            }
          }
        ]
      }
    }
  ]
}
