{
  "header": {
    "strTitle": "My App"
  },
  "menu": [
    {
      "strTitle": "Inbox",
      "strUrl": "/page/Inbox",
      "icon": "mail"
    },
    {
      "strTitle": "Outbox",
      "strUrl": "/page/Outbox",
      "icon": "paperPlane"
    },
    {
      "strTitle": "Favorites",
      "strUrl": "/page/Favorites",
      "icon": "heart"
    },
    {
      "strTitle": "Archived",
      "strUrl": "/page/Archived",
      "icon": "archive"
    },
    {
      "strTitle": "Trash",
      "strUrl": "/page/Trash",
      "icon": "trash"
    },
    {
      "strTitle": "Spam",
      "strUrl": "/page/Spam",
      "icon": "warning"
    },
    {
      "strTitle": "Sample",
      "strUrl": "/sample",
      "icon": "planet"
    }
  ],
  "signOut": {
    "strCaption": "Sign Out"
  }
}
