{
  "header": {
    "strTitle": "My App"
  },
  "menu": [
    {
      "strTitle": "Inbox",
      "strUrl": "/page/Inbox",
      "icon": "mail"
      "component": "Default",
      "redirect": "yes"
    },
    {
      "strTitle": "Outbox",
      "strUrl": "/page/Outbox",
      "icon": "paperPlane",
      "component": "Default"
    },
    {
      "strTitle": "Favorites",
      "strUrl": "/page/Favorites",
      "icon": "heart",
      "component": "Default"
    },
    {
      "strTitle": "Archived",
      "strUrl": "/page/Archived",
      "icon": "archive",
      "component": "Default"
    },
    {
      "strTitle": "Trash",
      "strUrl": "/page/Trash",
      "icon": "trash",
      "component": "Default"
    },
    {
      "strTitle": "Spam",
      "strUrl": "/page/Spam",
      "icon": "warning",
      "component": "Default"
    },
    {
      "strTitle": "Sample",
      "strUrl": "/sample",
      "icon": "planet",
      "component": "SamplePage"
    },
    {
      "strTitle": "Sample2",
      "strUrl": "/sample2",
      "icon": "basketball",
      "component": "SamplePage2"
    }
  ],
  "signOut": {
    "strCaption": "Sign Out"
  },
  "menuBottom": {
    "parameters": [
      "const labels = [\"Family\", \"Friends\", \"Notes\", \"Work\", \"Travel\", \"Reminders\"];"
    ],
    "tags":[
      {
        "tag": "IonList",
        "props": [
          "id=\"labels-list\""
        ],
        "child": {
          "tags": [
            {
              "tag": "IonListHeader",
              "noCR": "yes",
              "content": "Labels"
            },
            {
              "tag": "{labels.map((label, index) => (",
              "close": "))}",
              "type": "raw",
              "child": {
                "tags": [
                  {
                    "tag": "IonItem",
                    "props": [
                      "lines=\"none\"",
                      "key={index}"
                    ],
                    "child": {
                      "tags": [
                        {
                          "tag": "IonIcon",
                          "props": [
                            "slot=\"start\"",
                            "icon={bookmarkOutline}"
                          ],
                          "single": "yes"
                        },
                        {
                          "tag": "IonLabel",
                          "props": [],
                          "content": "{label}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    ]
  }
}
